body{
    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    
}

.block{
    padding: 37px 0;
    position: relative;
    background-color: #4074a0;
    width: 70%;
}

.instruction{
    background-color: #f2f2f2;
    width: 30%;
    height: 100%;
}

.header{
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    background-color: #ae9779;
    box-shadow: 0px 3px 6px 0px #888888;
}

.header button{
    cursor: pointer;
    margin: 4px;
}

.footer{
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: #ae9779;
    box-shadow: 0 -1px 4px 0px #888888;
    bottom: 0;
}

.content{
    height: 100%;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.card{
    height: 200px;
    background-color: #f2f2f2;
    margin: 20px auto;
    text-align: center;
    border: 1px solid antiquewhite;
}
.delete{
    margin: 0 0 0 176px;
    cursor: pointer;
    background-color: #4074a06e;
}
.delete:hover{
    background-color: #3354716e;
}
.cardText{
    font-size: 30px;
    margin: 60px;
}
